body {
    font-family: monospace;
}

.intro-section {
    padding-top:15%;
}
.intro-section  h1 {
    color: pink;
}
a.page-scroll, p{
    color: white;
}
.about-section, .services-section, .contact-section {
    padding-top: 0;
}
.intro-section {
    background-image: url("/images/maze-black.png"), linear-gradient(
            #1DBCBD, pink
    );
}
.about-section h1, .contact-section h1{
    color: #1DBCBD;
}
.about-description p {
    color: black;
    text-align: justify;
}
.services-section {
    color: #ffc0cb;
}
.services-section h1 {
    margin-bottom: 50px;
}
.services-section .background {
    background: #eee;
    );
    padding: 20px;
}
.portfolio-item {
    margin-bottom: 25px;
}
textarea.form-control{
    height: 200px;
}
.message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color: #228000;
    font-weight:bold;
}

.input-group {
    margin: auto;
    width: 90%;
}